<ion-header>
  <ion-toolbar>
    <ion-title>1º DAM</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>SISTEMAS INFORMATICOS</ion-label>
      <ion-avatar>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTiSzEWC4aIuP9mugk5MPusWIFPs-2izgAxHg&usqp=CAU">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>LENGUAJE DE MARCAS</ion-label>
      <ion-avatar>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvQ2_V4dwe-P_hS3oWDh1TKDyV4J2DgoySfQ&usqp=CAU">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>ENTORNOS DE DESAROLLO</ion-label>
      <ion-avatar>
        <img src="https://img2.freepng.es/20180320/vcw/kisspng-brand-font-apps-ide-5ab0fae8becf89.7849446015215480087816.jpg">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>PROGRAMACION</ion-label>
      <ion-avatar>
        <img src="https://img2.freepng.es/20180627/etu/kisspng-computer-icons-computer-programming-user-interface-browser-icon-5b336e98497711.6057089715300973043009.jpg">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>BBDD</ion-label>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/pratyaksa/pratyaksa1607/pratyaksa160700076/59777763-icono-de-gesti%C3%B3n-de-base-de-datos-base-de-datos-de-s%C3%ADmbolo-de-la-arquitectura-.jpg">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label>INGLES</ion-label>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/tribalium123/tribalium1231609/tribalium123160900165/66527287-aprender-icono-del-ingl%C3%A9s.jpg">
      </ion-avatar>
    </ion-item>

  </ion-list>

</ion-content>
