<ion-header>
  <ion-toolbar>
    <ion-title>FCT</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button a href="https://www.indracompany.com/"><ion-icon name="globe-outline"></ion-icon></ion-fab-button>
        <ion-fab-button a href="https://www.indracompany.com/"><ion-icon name="hardware-chip-outline"></ion-icon></ion-fab-button>
        <ion-fab-button a href="https://www.indracompany.com/"><ion-icon name="git-compare-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-item class="ion-activated">
      <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>Inicio de Practicas</ion-label>
    </ion-item>
    <ion-card-content>Marzo 2021 </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="settings" ></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button a href="https://www.w3schools.com/html/"><ion-icon name="code-slash-outline"></ion-icon></ion-fab-button>
        <ion-fab-button a href="https://www.java.com/es/"><ion-icon name="cloud-upload-outline"></ion-icon></ion-fab-button>
        <ion-fab-button a href="https://www.mysql.com/"><ion-icon name="desktop-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-item class="ion-activated">
      <ion-icon name="build-outline" slot="start"></ion-icon>
      
        <ion-label>Area de trabajo</ion-label>

    </ion-item>
    <ion-card-content>Area de trabajo en el cual se va a trabajar</ion-card-content>
  </ion-card>

  <ion-card>

    <ion-fab>
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button a href="https://www.sepe.es/HomeSepe/que-es-el-sepe/que-es-el-sepe/Red-de-oficinas/DetalleOficina.html?idOficina=085916b4-7058-43b9-a811-13276471921b"><ion-icon name="thumbs-down-outline"></ion-icon></ion-fab-button>
        <ion-fab-button a href="https://es.indeed.com/cmp/Indra-1/reviews?fcountry=ES&floc=Ciudad+Real%2C+Ciudad+Real+provincia"><ion-icon name="thumbs-up-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-item class="ion-activated">
      <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        <ion-label>Fin de Practicas</ion-label>

    </ion-item>
    <ion-card-content>Evaluacion del trabajo</ion-card-content>
  </ion-card>


</ion-content>
